* {
    /* background-color: lightgoldenrodyellow; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: "Lobster Two", cursive;
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 2rem;
}

img {
    height: 20px;
    width: auto;
}

/* update */

/* ul {
    display: flex;
    flex-direction: column;
} */

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.right-logo,
.left-links {
    display: flex;
    gap: 20px;
}