* {
    /* background-color: lightgoldenrodyellow; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lobster Two", cursive;
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.fb-icon, 
.twitter-icon,
.insta-icon{
    height: 20px;
    width: auto;
}

/* update */

/* ul {
    display: flex;
    flex-direction: column;
} */

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);

    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.right-logo,
.left-links {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

/* RECIPE MENU */

.recipe-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
}

.recipes-container {
    display: flex;
    gap: 20px;
}

.recipes-container > ul {
    border: 1px solid hsl(0, 100%, 50%); /* */
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-adobo,
.img-menudo,
.img-sinigang {
    width: 280px;
    height: 200px;
    padding: 10px;
    border-radius: 10%;

}